/* components/AnimatedImage.module.css */
.imageContainer {
    width: 105vw; /* slightly larger than viewport */
    overflow: hidden;
    position: relative;
    padding: 1rem 0 0.6rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 0px;
    z-index: 0;
}

.holderImage {
    position: relative;
    width: 100vw;
    will-change: transform;
    animation-name: imageLeft;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes imageLeft {
    0% {
        transform: translateX(105vw);
    }
    100% {
        transform: translateX(-10vw);
    }
}

.imageText {
    font-size: clamp(1.2rem, 2rem, 3rem);
    white-space: nowrap;
    line-height: 0.5;
    display: inline;
}
.brandImage {
    padding-right: 3vw;
    display: inline;
}
