/* components/AnimatedMarquee.module.css */
.marqueeContainer {
    width: 105vw; /* slightly larger than viewport */
    overflow: hidden;
    position: relative;
    padding: 1rem 0 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0px;
    z-index: 0;
}

.marquee {
    position: relative;
    width: 100vw;
    will-change: transform;
    animation-name: marqueeLeft;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marqueeLeft {
    0% {
        transform: translateX(105vw);
    }
    100% {
        transform: translateX(-10vw);
    }
}

.marqueeText {
    font-size: clamp(1.2rem, 2rem, 3rem);
    white-space: nowrap;
    font-weight: bold;
    color: #8d8a6a;
    line-height: 0.5;
    font-weight: 300;
    display: inline;
}
.brand {
    padding-right: 3vw;
    display: inline;
}
